*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: aqua;
    font-size: 40px;
}
h1{
    color: rgb(250, 89, 89);
    text-shadow: 5px 5px 10px;
}
#nome{
    color:red;
    text-shadow:  5px 5px 10px;
}
#email{
    color: red;
    text-shadow: 5px 5px 10px;
}
input{
    border-radius: 25px;
    font-size: 50px;
}
::placeholder{
    font-family:'Times New Roman', Times, serif;
    text-shadow: 2px 3px 2px;
    font-size:  30px;
    text-align: center;
}
button{
    background-color:rgb(87, 85, 85);
    color: black;
    border-radius: 20px;
    font-size: 50px;
}
